.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: rgb(89, 89, 218);
  margin-left: 450px;
  margin-top: 25px;
}

.grid div {
  width: 100px;
  height: 100px;
  background-color: rgb(27, 184, 178);
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: aliceblue;
}

.score-container {
  margin-top: 30px;
  margin-left: 800px;
  width: 50px;
  height: 50px;
  background-color: aqua;
  text-align: center;
  color: darkblue;
}

#result {
  text-align: center;
  color: green;
  font-size: 20px;
  font-weight: bold;
}
